manuals/Prodam/RecepcaoRPS_Novo/RecepcaoRPSEnvio.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 (http://www.altova.com) by MESMERiZE (MiZE) -->
<!-- Atualizado para versão 1.9.0.0 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="xNome">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="60"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="xLgr">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="60"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="xFant">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="60"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="xCpl">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="60"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="xBairro">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="60"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="tpAmb">
		<xs:simpleType>
			<xs:restriction base="xs:nonNegativeInteger">
				<xs:totalDigits value="1"/>
				<xs:minInclusive value="1"/>
				<xs:maxInclusive value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="nro">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="60"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="natOp">
		<xs:simpleType>
			<xs:restriction base="xs:nonNegativeInteger">
				<xs:totalDigits value="4"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="fone">
		<xs:simpleType>
			<xs:restriction base="xs:nonNegativeInteger">
				<xs:totalDigits value="14"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="fPagamento">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="enderPrest">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="TPEnd"/>
				<xs:element ref="xLgr"/>
				<xs:element ref="nro" minOccurs="0"/>
				<xs:element ref="xCpl" minOccurs="0"/>
				<xs:element ref="xBairro"/>
				<xs:element ref="cMun"/>
				<xs:element ref="UF"/>
				<xs:element ref="CEP"/>
				<xs:element ref="fone" minOccurs="0"/>
				<xs:element ref="Email" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="dVencimento" type="xs:date"/>
	<xs:element name="dEmis">
		<xs:simpleType>
			<xs:restriction base="xs:dateTime"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="dCompetencia">
		<xs:simpleType>
			<xs:restriction base="xs:date"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="cVerificaRPS">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="30"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="cServ">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="50"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="cMunIncidencia">
		<xs:simpleType>
			<xs:restriction base="xs:nonNegativeInteger">
				<xs:totalDigits value="7"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="cMun">
		<xs:simpleType>
			<xs:restriction base="xs:nonNegativeInteger">
				<xs:totalDigits value="7"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Versao">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:totalDigits value="4"/>
				<xs:fractionDigits value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Valores">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ValServicos"/>
				<xs:element ref="ValDeducoes" minOccurs="0"/>
				<xs:element ref="ValPIS" minOccurs="0"/>
				<xs:element ref="ValCOFINS" minOccurs="0"/>
				<xs:element ref="ValINSS" minOccurs="0"/>
				<xs:element ref="ValIR" minOccurs="0"/>
				<xs:element ref="ValCSLL" minOccurs="0"/>
				<xs:element ref="ISSRetido"/>
				<xs:element ref="RespRetencao" minOccurs="0"/>
				<xs:element ref="Tributavel"/>
				<xs:element ref="ValISS"/>
				<xs:element ref="ValISSRetido" minOccurs="0"/>
				<xs:element ref="ValOutrasRetencoes" minOccurs="0"/>
				<xs:element ref="ValBaseCalculo"/>
				<xs:element ref="ValAliqISS"/>
				<xs:element ref="ValAliqPIS" minOccurs="0"/>
				<xs:element ref="ValAliqCOFINS" minOccurs="0"/>
				<xs:element ref="ValAliqIR" minOccurs="0"/>
				<xs:element ref="ValAliqCSLL" minOccurs="0"/>
				<xs:element ref="ValAliqINSS" minOccurs="0"/>
				<xs:element ref="ValLiquido"/>
				<xs:element ref="ValDescIncond" minOccurs="0"/>
				<xs:element ref="ValDescCond"/>
				<xs:element ref="ValAliqISSoMunic" minOccurs="0"/>
				<xs:element ref="InfValPIS" minOccurs="0"/>
				<xs:element ref="InfValCOFINS" minOccurs="0"/>
				<xs:element ref="ValLiqFatura" minOccurs="0"/>
				<xs:element ref="ValBCISSRetido" minOccurs="0"/>
				<xs:element ref="NroFatura" minOccurs="0"/>
				<xs:element ref="CargaTribValor" minOccurs="0"/>
				<xs:element ref="CargaTribPercentual" minOccurs="0"/>
				<xs:element ref="CargaTribFonte" minOccurs="0"/>
				<xs:element ref="JustDed" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ValServicos">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:totalDigits value="16"/>
				<xs:fractionDigits value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ValPIS">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:totalDigits value="16"/>
				<xs:fractionDigits value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ValOutrasRetencoes">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:totalDigits value="16"/>
				<xs:fractionDigits value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ValLiquido">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:totalDigits value="16"/>
				<xs:fractionDigits value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ValLiqFatura">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:totalDigits value="16"/>
				<xs:fractionDigits value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ValISSRetido">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:totalDigits value="16"/>
				<xs:fractionDigits value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ValISS">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:totalDigits value="16"/>
				<xs:fractionDigits value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ValIR">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:totalDigits value="16"/>
				<xs:fractionDigits value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ValINSS">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:totalDigits value="16"/>
				<xs:fractionDigits value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ValDescIncond">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:totalDigits value="16"/>
				<xs:fractionDigits value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ValDescCond">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:totalDigits value="16"/>
				<xs:fractionDigits value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ValDeducoes">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:totalDigits value="16"/>
				<xs:fractionDigits value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ValCSLL">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:totalDigits value="16"/>
				<xs:fractionDigits value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ValCOFINS">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:totalDigits value="16"/>
				<xs:fractionDigits value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ValBaseCalculo">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:totalDigits value="16"/>
				<xs:fractionDigits value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ValBCISSRetido">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:totalDigits value="16"/>
				<xs:fractionDigits value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ValAliqPIS">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:totalDigits value="6"/>
				<xs:fractionDigits value="4"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ValAliqISSoMunic">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:totalDigits value="6"/>
				<xs:fractionDigits value="4"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ValAliqISS">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:totalDigits value="6"/>
				<xs:fractionDigits value="4"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ValAliqIR">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:totalDigits value="6"/>
				<xs:fractionDigits value="4"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ValAliqINSS">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:totalDigits value="6"/>
				<xs:fractionDigits value="4"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ValAliqCSLL">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:totalDigits value="6"/>
				<xs:fractionDigits value="4"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ValAliqCOFINS">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:totalDigits value="6"/>
				<xs:fractionDigits value="4"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="UF">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Tributavel">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TributacaoISS">
		<xs:simpleType>
			<xs:restriction base="xs:nonNegativeInteger">
				<xs:totalDigits value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Transportadora">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="TraNome"/>
				<xs:element ref="TraCPFCNPJ" minOccurs="0"/>
				<xs:element ref="TraIE" minOccurs="0"/>
				<xs:element ref="TraPlaca" minOccurs="0"/>
				<xs:element ref="TraEnd" minOccurs="0"/>
				<xs:element ref="TraMun" minOccurs="0"/>
				<xs:element ref="TraUF" minOccurs="0"/>
				<xs:element ref="TraPais" minOccurs="0"/>
				<xs:element ref="TraTipoFrete" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TraUF">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TraTipoFrete">
		<xs:simpleType>
			<xs:restriction base="xs:nonNegativeInteger">
				<xs:totalDigits value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TraPlaca">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="10"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TraPais">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TraNome">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TraMun">
		<xs:simpleType>
			<xs:restriction base="xs:nonNegativeInteger">
				<xs:totalDigits value="7"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TraIE">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="15"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TraEnd">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TraCPFCNPJ">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="14"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TomaxMun">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="255"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TomatpLgr">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="10"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Tomador">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="TomaCNPJ" minOccurs="0"/>
				<xs:element ref="TomaCPF" minOccurs="0"/>
				<xs:element ref="TomaIM" minOccurs="0"/>
				<xs:element ref="TomaRazaoSocial" minOccurs="0"/>
				<xs:element ref="TomatpLgr" minOccurs="0"/>
				<xs:element ref="TomaEndereco" minOccurs="0"/>
				<xs:element ref="TomaNumero" minOccurs="0"/>
				<xs:element ref="TomaComplemento" minOccurs="0"/>
				<xs:element ref="TomaBairro" minOccurs="0"/>
				<xs:element ref="TomacMun" minOccurs="0"/>
				<xs:element ref="TomaxMun" minOccurs="0"/>
				<xs:element ref="TomaUF" minOccurs="0"/>
				<xs:element ref="TomaPais" minOccurs="0"/>
				<xs:element ref="TomaCEP" minOccurs="0"/>
				<xs:element ref="TomaTelefone" minOccurs="0"/>
				<xs:element ref="TomaTipoTelefone" minOccurs="0"/>
				<xs:element ref="TomaEmail" minOccurs="0"/>
				<xs:element ref="TomaSite" minOccurs="0"/>
				<xs:element ref="TomaIE" minOccurs="0"/>
				<xs:element ref="TomaIME" minOccurs="0"/>
				<xs:element ref="TomaSituacaoEspecial" minOccurs="0"/>
				<xs:element ref="DocTomadorEstrangeiro" minOccurs="0"/>
				<xs:element ref="TomaRegEspTrib" minOccurs="0"/>
				<xs:element ref="TomaCadastroMunicipio" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TomacMun">
		<xs:simpleType>
			<xs:restriction base="xs:nonNegativeInteger">
				<xs:totalDigits value="7"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TomaUF">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TomaTelefone">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="11"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TomaSite">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="255"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TomaRazaoSocial">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="115"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TomaPais">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TomaNumero">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="10"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TomaIME">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="15"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TomaIM">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="15"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TomaIE">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="15"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TomaEndereco">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="125"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TomaEmail">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="80"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TomaComplemento">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="60"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TomaCPF">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="11"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TomaCNPJ">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="14"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TomaCEP">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="10"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TomaBairro">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="60"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TPEnd">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="30"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Status">
		<xs:simpleType>
			<xs:restriction base="xs:nonNegativeInteger">
				<xs:totalDigits value="1"/>
				<xs:minInclusive value="1"/>
				<xs:maxInclusive value="5"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Servico">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Valores"/>
				<xs:element ref="LocalPrestacao" minOccurs="0"/>
				<xs:element ref="IteListServico"/>
				<xs:element ref="Cnae" minOccurs="0"/>
				<xs:element ref="fPagamento" minOccurs="0"/>
				<xs:element ref="TributMunicipio"/>
				<xs:element ref="TributMunicDesc" minOccurs="0"/>
				<xs:element ref="Discriminacao"/>
				<xs:element ref="cMun"/>
				<xs:element ref="SerQuantidade" minOccurs="0"/>
				<xs:element ref="SerUnidade" minOccurs="0"/>
				<xs:element ref="SerNumAlva" minOccurs="0"/>
				<xs:element ref="PaiPreServico" minOccurs="0"/>
				<xs:element ref="cMunIncidencia" minOccurs="0"/>
				<xs:element ref="dVencimento" minOccurs="0"/>
				<xs:element ref="ObsInsPagamento" minOccurs="0"/>
				<xs:element ref="ObrigoMunic" minOccurs="0"/>
				<xs:element ref="TributacaoISS" minOccurs="0"/>
				<xs:element ref="CodigoAtividadeEconomica" minOccurs="0"/>
				<xs:element ref="ServicoViasPublicas" minOccurs="0"/>
				<xs:element ref="NumeroParcelas" minOccurs="0"/>
				<xs:element ref="NroOrcamento" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SerUnidade">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="10"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SerQuantidade">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:totalDigits value="16"/>
				<xs:fractionDigits value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SerNumAlva">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="15"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SerEndxMun">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="255"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SerEndcMun">
		<xs:simpleType>
			<xs:restriction base="xs:nonNegativeInteger">
				<xs:totalDigits value="7"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SerEndUF">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SerEndTpLgr">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="40"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SerEndSiglaUF">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SerEndNumero">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="10"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SerEndLgr">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="255"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SerEndComplemento">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="60"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SerEndCep">
		<xs:simpleType>
			<xs:restriction base="xs:nonNegativeInteger">
				<xs:totalDigits value="8"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SerEndBairro">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="60"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="RespRetencao">
		<xs:simpleType>
			<xs:restriction base="xs:nonNegativeInteger">
				<xs:totalDigits value="1"/>
				<xs:minInclusive value="1"/>
				<xs:maxInclusive value="3"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="RegEspTrib">
		<xs:simpleType>
			<xs:restriction base="xs:nonNegativeInteger">
				<xs:totalDigits value="2"/>
				<xs:minInclusive value="1"/>
				<xs:maxInclusive value="10"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="RPSTipo">
		<xs:simpleType>
			<xs:restriction base="xs:nonNegativeInteger">
				<xs:totalDigits value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="RPSSerie">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="5"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="RPSNumero">
		<xs:simpleType>
			<xs:restriction base="xs:nonNegativeInteger">
				<xs:totalDigits value="15"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="RPS">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="RPSNumero"/>
				<xs:element ref="RPSSerie"/>
				<xs:element ref="RPSTipo"/>
				<xs:element ref="dEmis"/>
				<xs:element ref="dCompetencia" minOccurs="0"/>
				<xs:element ref="LocalPrestServ" minOccurs="0"/>
				<xs:element ref="natOp"/>
				<xs:element ref="Operacao"/>
				<xs:element ref="NumProcesso" minOccurs="0"/>
				<xs:element ref="RegEspTrib" minOccurs="0"/>
				<xs:element ref="OptSN"/>
				<xs:element ref="IncCult"/>
				<xs:element ref="Status"/>
				<xs:element ref="cVerificaRPS" minOccurs="0"/>
				<xs:element ref="EmpreitadaGlobal" minOccurs="0"/>
				<xs:element ref="tpAmb"/>
				<xs:element ref="RPSSubs" minOccurs="0"/>
				<xs:element ref="Prestador"/>
				<xs:element ref="ListaItens" minOccurs="0"/>
				<xs:element ref="ListaParcelas" minOccurs="0"/>
				<xs:element ref="Servico"/>
				<xs:element ref="Tomador" minOccurs="0"/>
				<xs:element ref="IntermServico" minOccurs="0"/>
				<xs:element ref="ConstCivil" minOccurs="0"/>
				<xs:element ref="ListaDed" minOccurs="0"/>
				<xs:element ref="Transportadora" minOccurs="0"/>
				<xs:element ref="NFSOutrasinformacoes" minOccurs="0"/>
				<xs:element ref="RPSCanhoto" minOccurs="0"/>
				<xs:element ref="Arquivo" minOccurs="0"/>
				<xs:element ref="ExtensaoArquivo" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Prestador">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CNPJ_prest"/>
				<xs:element ref="CPF_prest"/>
				<xs:element ref="xNome"/>
				<xs:element ref="xFant"/>
				<xs:element ref="IM"/>
				<xs:element ref="IE" minOccurs="0"/>
				<xs:element ref="CMC" minOccurs="0"/>
				<xs:element ref="enderPrest"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PaiPreServico">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="OptSN">
		<xs:simpleType>
			<xs:restriction base="xs:nonNegativeInteger">
				<xs:totalDigits value="1"/>
				<xs:minInclusive value="1"/>
				<xs:maxInclusive value="9"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Operacao">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ObsInsPagamento">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="255"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ObrigoMunic">
		<xs:simpleType>
			<xs:restriction base="xs:nonNegativeInteger">
				<xs:totalDigits value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ObraValRedBC">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:totalDigits value="16"/>
				<xs:fractionDigits value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ObraTipo">
		<xs:simpleType>
			<xs:restriction base="xs:nonNegativeInteger">
				<xs:totalDigits value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ObraUF">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ObraPais">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ObraNumero">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="10"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ObraMun">
		<xs:simpleType>
			<xs:restriction base="xs:nonNegativeInteger">
				<xs:totalDigits value="7"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ObraMatricula">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="15"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ObraLog">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ObraCompl">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ObraCEP">
		<xs:simpleType>
			<xs:restriction base="xs:nonNegativeInteger">
				<xs:totalDigits value="8"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ObraCEI">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="15"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ObraBairro">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="NumProcesso">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="30"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="NFSOutrasinformacoes">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="1000"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="RPSCanhoto">
		<xs:simpleType>
			<xs:restriction base="xs:nonNegativeInteger">
				<xs:totalDigits value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ModeloDocumento">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="10"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="LocalPrestacao">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="SerEndTpLgr"/>
				<xs:element ref="SerEndLgr"/>
				<xs:element ref="SerEndNumero"/>
				<xs:element ref="SerEndComplemento"/>
				<xs:element ref="SerEndBairro"/>
				<xs:element ref="SerEndxMun"/>
				<xs:element ref="SerEndcMun"/>
				<xs:element ref="SerEndCep"/>
				<xs:element ref="SerEndSiglaUF"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="LocalPrestServ">
		<xs:simpleType>
			<xs:restriction base="xs:nonNegativeInteger">
				<xs:maxInclusive value="5"/>
				<xs:totalDigits value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ListaParcelas">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Parcela" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="PrcSequencial" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:nonNegativeInteger">
										<xs:totalDigits value="8"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="PrcValor" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:decimal">
										<xs:totalDigits value="16"/>
										<xs:fractionDigits value="2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="PrcDtaVencimento" type="xs:date" minOccurs="0"/>
							<xs:element name="PrcNroFatura" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:nonNegativeInteger">
										<xs:totalDigits value="15"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="PrcTipVenc" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:nonNegativeInteger">
										<xs:totalDigits value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="PrcDscTipVenc" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="15"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="PrcValLiquido" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:decimal">
										<xs:totalDigits value="16"/>
										<xs:fractionDigits value="2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="PrcValDesconto" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:decimal">
										<xs:totalDigits value="16"/>
										<xs:fractionDigits value="2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ListaItens">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Item" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="ItemSeq"/>
							<xs:element ref="ItemCod"/>
							<xs:element ref="ItemDesc"/>
							<xs:element ref="ItemQtde"/>
							<xs:element ref="ItemvUnit"/>
							<xs:element ref="ItemuMed" minOccurs="0"/>
							<xs:element ref="ItemvlDed" minOccurs="0"/>
							<xs:element ref="ItemTributavel" minOccurs="0"/>
							<xs:element ref="ItemcCnae" minOccurs="0"/>
							<xs:element ref="ItemTributMunicipio" minOccurs="0"/>
							<xs:element ref="ItemnAlvara" minOccurs="0"/>
							<xs:element ref="ItemvIss"/>
							<xs:element ref="ItemvDesconto" minOccurs="0"/>
							<xs:element ref="ItemAliquota"/>
							<xs:element ref="ItemVlrTotal" minOccurs="0"/>
							<xs:element ref="ItemBaseCalculo"/>
							<xs:element ref="ItemvlrISSRetido" minOccurs="0"/>
							<xs:element ref="ItemIssRetido"/>
							<xs:element ref="ItemRespRetencao" minOccurs="0"/>
							<xs:element ref="ItemIteListServico"/>
							<xs:element ref="ItemExigibilidadeISS"/>
							<xs:element ref="ItemcMunIncidencia" minOccurs="0"/>
							<xs:element ref="ItemNumProcesso" minOccurs="0"/>
							<xs:element ref="ItemDedTipo" minOccurs="0"/>
							<xs:element ref="ItemDedCPFRef" minOccurs="0"/>
							<xs:element ref="ItemDedCNPJRef" minOccurs="0"/>
							<xs:element ref="ItemDedNFRef" minOccurs="0"/>
							<xs:element ref="ItemDedvlTotRef" minOccurs="0"/>
							<xs:element ref="ItemDedPer" minOccurs="0"/>
							<xs:element ref="ItemDedValor" minOccurs="0"/>
							<xs:element ref="ItemVlrLiquido" minOccurs="0"/>
							<xs:element ref="ItemValAliqINSS" minOccurs="0"/>
							<xs:element ref="ItemValINSS" minOccurs="0"/>
							<xs:element ref="ItemValAliqIR" minOccurs="0"/>
							<xs:element ref="ItemValIR" minOccurs="0"/>
							<xs:element ref="ItemValAliqCOFINS" minOccurs="0"/>
							<xs:element ref="ItemValCOFINS" minOccurs="0"/>
							<xs:element ref="ItemValAliqCSLL" minOccurs="0"/>
							<xs:element ref="ItemValCSLL" minOccurs="0"/>
							<xs:element ref="ItemValAliqPIS " minOccurs="0"/>
							<xs:element ref="ItemValPIS" minOccurs="0"/>
							<xs:element ref="ItemRedBCRetido" minOccurs="0"/>
							<xs:element ref="ItemBCRetido" minOccurs="0"/>
							<xs:element ref="ItemPaisImpDevido" minOccurs="0"/>
							<xs:element ref="ItemValAliqISSRetido" minOccurs="0"/>
							<xs:element ref="ItemCST" minOccurs="0"/>
							<xs:element ref="ItemJustDed" minOccurs="0"/>
							<xs:element ref="ItemvOutrasRetencoes" minOccurs="0"/>
							<xs:element ref="ItemDescIncondicionado" minOccurs="0"/>
							<xs:element ref="ItemDescCondicionado" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ListaDed">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Ded" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="DedSeq">
								<xs:simpleType>
									<xs:restriction base="xs:nonNegativeInteger">
										<xs:totalDigits value="18"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="DedValPer">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="3"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="DedTipo">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="3"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="DedCNPJRef" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="14"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="DedCPFRef" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="11"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="DednNFRef" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:nonNegativeInteger">
										<xs:totalDigits value="10"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="DedvlTotRef" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:decimal">
										<xs:totalDigits value="16"/>
										<xs:fractionDigits value="2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="DedPer" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:decimal">
										<xs:totalDigits value="16"/>
										<xs:fractionDigits value="2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="DedValor">
								<xs:simpleType>
									<xs:restriction base="xs:decimal">
										<xs:totalDigits value="16"/>
										<xs:fractionDigits value="2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element ref="DedQtde" minOccurs="0"/>
							<xs:element ref="DedValUnit" minOccurs="0"/>
							<xs:element ref="DedDescricao" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="IteListServico">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="15"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="IntermServico">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="IntermRazaoSocial"/>
				<xs:element ref="IntermCNPJ"/>
				<xs:element ref="IntermCPF"/>
				<xs:element ref="IntermIM" minOccurs="0"/>
				<xs:element ref="IntermEmail" minOccurs="0"/>
				<xs:element ref="IntermEndereco"/>
				<xs:element ref="IntermNumero"/>
				<xs:element ref="IntermComplemento"/>
				<xs:element ref="IntermBairro"/>
				<xs:element ref="IntermCep"/>
				<xs:element ref="IntermCmun"/>
				<xs:element ref="IntermXmun"/>
				<xs:element ref="IntermFone"/>
				<xs:element ref="ItermIE"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="IntermRazaoSocial">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="115"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="IntermIM">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="15"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="IntermCPF">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="11"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="IntermCNPJ">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="14"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="IntermEndereco">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="125"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="IntermNumero">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="10"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="IntermComplemento">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="60"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="IntermBairro">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="60"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="IntermCep">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="10"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="IntermCmun">
		<xs:simpleType>
			<xs:restriction base="xs:nonNegativeInteger">
				<xs:totalDigits value="7"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="IntermXmun">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="255"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="IntermFone">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="11"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ItermIE">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="40"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="InfValPIS">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:totalDigits value="16"/>
				<xs:fractionDigits value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="InfValCOFINS">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:totalDigits value="16"/>
				<xs:fractionDigits value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="IncCult">
		<xs:simpleType>
			<xs:restriction base="xs:nonNegativeInteger">
				<xs:totalDigits value="1"/>
				<xs:maxInclusive value="4"/>
				<xs:minInclusive value="0"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ISSRetido">
		<xs:simpleType>
			<xs:restriction base="xs:nonNegativeInteger">
				<xs:totalDigits value="1"/>
				<xs:minInclusive value="0"/>
				<xs:maxInclusive value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="IM">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="15"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="IE">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="14"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ExtensaoArquivo">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="5"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Envio">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ModeloDocumento"/>
				<xs:element ref="Versao"/>
				<xs:element ref="RPS"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="EmpreitadaGlobal">
		<xs:simpleType>
			<xs:restriction base="xs:nonNegativeInteger">
				<xs:totalDigits value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Email">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="1000"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Discriminacao">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="7000"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ConstCivil">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CodObra" minOccurs="0"/>
				<xs:element ref="Art" minOccurs="0"/>
				<xs:element ref="ObraLog" minOccurs="0"/>
				<xs:element ref="ObraCompl" minOccurs="0"/>
				<xs:element ref="ObraNumero" minOccurs="0"/>
				<xs:element ref="ObraBairro" minOccurs="0"/>
				<xs:element ref="ObraCEP" minOccurs="0"/>
				<xs:element ref="ObraMun" minOccurs="0"/>
				<xs:element ref="ObraUF" minOccurs="0"/>
				<xs:element ref="ObraPais" minOccurs="0"/>
				<xs:element ref="ObraCEI" minOccurs="0"/>
				<xs:element ref="ObraMatricula" minOccurs="0"/>
				<xs:element ref="ObraValRedBC" minOccurs="0"/>
				<xs:element ref="ObraTipo" minOccurs="0"/>
				<xs:element ref="ListaMaterial" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CodObra">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="15"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Cnae">
		<xs:simpleType>
			<xs:restriction base="xs:nonNegativeInteger">
				<xs:totalDigits value="10"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CPF_prest">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="11"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CNPJ_prest">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="14"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CMC">
		<xs:simpleType>
			<xs:restriction base="xs:nonNegativeInteger">
				<xs:totalDigits value="15"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CEP">
		<xs:simpleType>
			<xs:restriction base="xs:nonNegativeInteger">
				<xs:totalDigits value="8"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Art">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="15"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Arquivo">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="2000000"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="RPSSubs">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="SubsNumero"/>
				<xs:element ref="SubsSerie"/>
				<xs:element ref="SubsTipo"/>
				<xs:element ref="SubsNFSeNumero" minOccurs="0"/>
				<xs:element ref="SubsDEmisNFSe" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SubsNumero">
		<xs:simpleType>
			<xs:restriction base="xs:nonNegativeInteger">
				<xs:totalDigits value="15"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SubsSerie">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="5"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SubsTipo">
		<xs:simpleType>
			<xs:restriction base="xs:nonNegativeInteger">
				<xs:totalDigits value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SubsNFSeNumero">
		<xs:simpleType>
			<xs:restriction base="xs:nonNegativeInteger">
				<xs:totalDigits value="15"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SubsDEmisNFSe" type="xs:dateTime"/>
	<xs:element name="ItemSeq">
		<xs:simpleType>
			<xs:restriction base="xs:nonNegativeInteger">
				<xs:totalDigits value="4"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ItemCod">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="255"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ItemDesc">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="4000"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ItemQtde">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:totalDigits value="15"/>
				<xs:fractionDigits value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ItemvUnit">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:totalDigits value="15"/>
				<xs:fractionDigits value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ItemuMed">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="10"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ItemvlDed">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:totalDigits value="15"/>
				<xs:fractionDigits value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ItemTributavel">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ItemcCnae">
		<xs:simpleType>
			<xs:restriction base="xs:nonNegativeInteger">
				<xs:totalDigits value="10"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ItemTributMunicipio">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="20"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ItemnAlvara">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="15"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ItemvIss">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:totalDigits value="16"/>
				<xs:fractionDigits value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ItemvDesconto">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:totalDigits value="16"/>
				<xs:fractionDigits value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ItemAliquota">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:totalDigits value="6"/>
				<xs:fractionDigits value="4"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ItemVlrTotal">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:totalDigits value="15"/>
				<xs:fractionDigits value="4"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ItemBaseCalculo">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:totalDigits value="16"/>
				<xs:fractionDigits value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ItemvlrISSRetido">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:totalDigits value="16"/>
				<xs:fractionDigits value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ItemIssRetido">
		<xs:simpleType>
			<xs:restriction base="xs:nonNegativeInteger">
				<xs:totalDigits value="1"/>
				<xs:minInclusive value="1"/>
				<xs:maxInclusive value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ItemRespRetencao">
		<xs:simpleType>
			<xs:restriction base="xs:nonNegativeInteger">
				<xs:totalDigits value="1"/>
				<xs:minInclusive value="1"/>
				<xs:maxInclusive value="3"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ItemIteListServico">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="30"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ItemExigibilidadeISS">
		<xs:simpleType>
			<xs:restriction base="xs:nonNegativeInteger">
				<xs:totalDigits value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ItemcMunIncidencia">
		<xs:simpleType>
			<xs:restriction base="xs:nonNegativeInteger">
				<xs:totalDigits value="7"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ItemNumProcesso">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="30"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ItemDedTipo">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ItemDedCPFRef">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="11"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ItemDedCNPJRef">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="14"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ItemDedNFRef">
		<xs:simpleType>
			<xs:restriction base="xs:nonNegativeInteger">
				<xs:totalDigits value="15"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ItemDedvlTotRef">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:totalDigits value="16"/>
				<xs:fractionDigits value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ItemDedPer">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:totalDigits value="16"/>
				<xs:fractionDigits value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ItemDedValor">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:totalDigits value="16"/>
				<xs:fractionDigits value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ItemVlrLiquido">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:totalDigits value="16"/>
				<xs:fractionDigits value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ItemValAliqINSS">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:totalDigits value="6"/>
				<xs:fractionDigits value="4"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ItemValINSS">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:totalDigits value="16"/>
				<xs:fractionDigits value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ItemValAliqIR">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:totalDigits value="6"/>
				<xs:fractionDigits value="4"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ItemValIR">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:totalDigits value="16"/>
				<xs:fractionDigits value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ItemValAliqCOFINS">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:totalDigits value="6"/>
				<xs:fractionDigits value="4"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ItemValCOFINS">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:totalDigits value="16"/>
				<xs:fractionDigits value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ItemValAliqCSLL">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:totalDigits value="6"/>
				<xs:fractionDigits value="4"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ItemValCSLL">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:totalDigits value="16"/>
				<xs:fractionDigits value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ItemValAliqPIS ">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:totalDigits value="6"/>
				<xs:fractionDigits value="4"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ItemValPIS">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:totalDigits value="16"/>
				<xs:fractionDigits value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ItemRedBCRetido">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:totalDigits value="16"/>
				<xs:fractionDigits value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ItemBCRetido">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:totalDigits value="16"/>
				<xs:fractionDigits value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ItemPaisImpDevido">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ItemValAliqISSRetido">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:totalDigits value="16"/>
				<xs:fractionDigits value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ItemCST">
		<xs:simpleType>
			<xs:restriction base="xs:nonNegativeInteger">
				<xs:totalDigits value="4"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TributMunicipio">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="20"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TributMunicDesc">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="255"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>	
	<xs:element name="DedQtde">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:totalDigits value="16"/>
				<xs:fractionDigits value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DedValUnit">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:totalDigits value="16"/>
				<xs:fractionDigits value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DedDescricao">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="255"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CodigoAtividadeEconomica">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="60"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ListaMaterial">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Material"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Material">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MatCodigo" minOccurs="0"/>
				<xs:element ref="MatDescricao" minOccurs="0"/>
				<xs:element ref="MatUndMedCodigo" minOccurs="0"/>
				<xs:element ref="MatUndMedSigla" minOccurs="0"/>
				<xs:element ref="MatQuantidade" minOccurs="0"/>
				<xs:element ref="MatVlrTotal" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="MatCodigo">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="20"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="MatDescricao">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="120"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="MatUndMedCodigo">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="20"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="MatUndMedSigla">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="7"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="MatQuantidade">
		<xs:simpleType>
			<xs:restriction base="xs:nonNegativeInteger">
				<xs:totalDigits value="4"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="MatVlrTotal">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:totalDigits value="16"/>
				<xs:fractionDigits value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TomaSituacaoEspecial">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TomaTipoTelefone">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="NroFatura">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:totalDigits value="15"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ServicoViasPublicas">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:totalDigits value="4"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="NumeroParcelas">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:totalDigits value="4"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="NroOrcamento">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:totalDigits value="15"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ItemJustDed">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="255"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
		<xs:element name="ItemvOutrasRetencoes">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:totalDigits value="16"/>
				<xs:fractionDigits value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
		<xs:element name="ItemDescIncondicionado">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:totalDigits value="16"/>
				<xs:fractionDigits value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
		<xs:element name="ItemDescCondicionado">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:totalDigits value="16"/>
				<xs:fractionDigits value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CargaTribValor">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:totalDigits value="16"/>
				<xs:fractionDigits value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CargaTribPercentual">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:totalDigits value="8"/>
				<xs:fractionDigits value="4"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CargaTribFonte">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="10"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="JustDed">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="255"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DocTomadorEstrangeiro">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="30"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TomaRegEspTrib">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:totalDigits value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TomaCadastroMunicipio">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:totalDigits value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="IntermEmail">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
</xs:schema>
