manuals/Abrasf/Salvador_BA/homologacao/ConsultaNfseRPS.svc.xml

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="ConsultaNfseRPS" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
    <wsp:Policy wsu:Id="ConsultaNfseRPSBinding_policy">
        <wsp:ExactlyOne>
            <wsp:All>
                <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
                    <wsp:Policy>
                        <sp:TransportToken>
                            <wsp:Policy>
                                <sp:HttpsToken RequireClientCertificate="true"/>
                            </wsp:Policy>
                        </sp:TransportToken>
                        <sp:AlgorithmSuite>
                            <wsp:Policy>
                                <sp:Basic256/>
                            </wsp:Policy>
                        </sp:AlgorithmSuite>
                        <sp:Layout>
                            <wsp:Policy>
                                <sp:Strict/>
                            </wsp:Policy>
                        </sp:Layout>
                    </wsp:Policy>
                </sp:TransportBinding>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsdl:types>
        <xsd:schema targetNamespace="http://tempuri.org/Imports">
            <xsd:import schemaLocation="https://notahml.salvador.ba.gov.br/rps/CONSULTANFSERPS/ConsultaNfseRPS.svc?xsd=xsd0" namespace="http://tempuri.org/"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="ConsultarNfseRPSRequest">
        <wsdl:part name="parameters" element="tns:ConsultarNfseRPS"/>
    </wsdl:message>
    <wsdl:message name="ConsultarNfseRPSResponse">
        <wsdl:part name="parameters" element="tns:ConsultarNfseRPSResponse"/>
    </wsdl:message>
    <wsdl:message name="ConsultarNfseRPSComplementarRequest">
        <wsdl:part name="parameters" element="tns:ConsultarNfseRPSComplementar"/>
    </wsdl:message>
    <wsdl:message name="ConsultarNfseRPSComplementarResponse">
        <wsdl:part name="parameters" element="tns:ConsultarNfseRPSComplementarResponse"/>
    </wsdl:message>
    <wsdl:portType name="IConsultaNfseRPS">
        <wsdl:operation name="ConsultarNfseRPS">
            <wsdl:input wsaw:Action="http://tempuri.org/IConsultaNfseRPS/ConsultarNfseRPS" name="ConsultarNfseRPSRequest" message="tns:ConsultarNfseRPSRequest"/>
            <wsdl:output wsaw:Action="http://tempuri.org/IConsultaNfseRPS/ConsultarNfseRPSResponse" name="ConsultarNfseRPSResponse" message="tns:ConsultarNfseRPSResponse"/>
        </wsdl:operation>
        <wsdl:operation name="ConsultarNfseRPSComplementar">
            <wsdl:input wsaw:Action="http://tempuri.org/IConsultaNfseRPS/ConsultarNfseRPSComplementar" name="ConsultarNfseRPSComplementarRequest" message="tns:ConsultarNfseRPSComplementarRequest"/>
            <wsdl:output wsaw:Action="http://tempuri.org/IConsultaNfseRPS/ConsultarNfseRPSComplementarResponse" name="ConsultarNfseRPSComplementarResponse" message="tns:ConsultarNfseRPSComplementarResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ConsultaNfseRPSBinding" type="tns:IConsultaNfseRPS">
        <wsp:PolicyReference URI="#ConsultaNfseRPSBinding_policy"/>
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="ConsultarNfseRPS">
            <soap:operation soapAction="http://tempuri.org/IConsultaNfseRPS/ConsultarNfseRPS" style="document"/>
            <wsdl:input name="ConsultarNfseRPSRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="ConsultarNfseRPSResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ConsultarNfseRPSComplementar">
            <soap:operation soapAction="http://tempuri.org/IConsultaNfseRPS/ConsultarNfseRPSComplementar" style="document"/>
            <wsdl:input name="ConsultarNfseRPSComplementarRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="ConsultarNfseRPSComplementarResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ConsultaNfseRPS">
        <wsdl:port name="ConsultaNfseRPSBinding" binding="tns:ConsultaNfseRPSBinding">
            <soap:address location="https://notahml.salvador.ba.gov.br/rps/CONSULTANFSERPS/ConsultaNfseRPS.svc"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>