manuals/Dsfnet/Sao_Luis_MA/LoteRps.jws.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3-hudson-390-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3-hudson-390-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://sistemas.semfaz.saoluis.ma.gov.br/WsNFe2/LoteRps.jws" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://sistemas.semfaz.saoluis.ma.gov.br/WsNFe2/LoteRps.jws" name="LoteRpsService">
<types></types>
<message name="consultarSequencialRps">
<part name="mensagemXml" type="xsd:string"></part>
</message>
<message name="consultarSequencialRpsResponse">
<part name="consultarSequencialRpsReturn" type="xsd:string"></part>
</message>
<message name="enviarSincrono">
<part name="mensagemXml" type="xsd:string"></part>
</message>
<message name="enviarSincronoResponse">
<part name="enviarSincronoReturn" type="xsd:string"></part>
</message>
<message name="testeEnviar">
<part name="mensagemXml" type="xsd:string"></part>
</message>
<message name="testeEnviarResponse">
<part name="testeEnviarReturn" type="xsd:string"></part>
</message>
<message name="enviar">
<part name="mensagemXml" type="xsd:string"></part>
</message>
<message name="enviarResponse">
<part name="enviarReturn" type="xsd:string"></part>
</message>
<message name="consultarLote">
<part name="mensagemXml" type="xsd:string"></part>
</message>
<message name="consultarLoteResponse">
<part name="consultarLoteReturn" type="xsd:string"></part>
</message>
<message name="consultarNota">
<part name="mensagemXml" type="xsd:string"></part>
</message>
<message name="consultarNotaResponse">
<part name="consultarNotaReturn" type="xsd:string"></part>
</message>
<message name="cancelar">
<part name="mensagemXml" type="xsd:string"></part>
</message>
<message name="cancelarResponse">
<part name="cancelarReturn" type="xsd:string"></part>
</message>
<message name="consultarNFSeRps">
<part name="mensagemXml" type="xsd:string"></part>
</message>
<message name="consultarNFSeRpsResponse">
<part name="consultarNFSeRpsReturn" type="xsd:string"></part>
</message>
<portType name="LoteRps">
<operation name="consultarSequencialRps">
<input message="tns:consultarSequencialRps"></input>
<output message="tns:consultarSequencialRpsResponse"></output>
</operation>
<operation name="enviarSincrono">
<input message="tns:enviarSincrono"></input>
<output message="tns:enviarSincronoResponse"></output>
</operation>
<operation name="testeEnviar">
<input message="tns:testeEnviar"></input>
<output message="tns:testeEnviarResponse"></output>
</operation>
<operation name="enviar">
<input message="tns:enviar"></input>
<output message="tns:enviarResponse"></output>
</operation>
<operation name="consultarLote">
<input message="tns:consultarLote"></input>
<output message="tns:consultarLoteResponse"></output>
</operation>
<operation name="consultarNota">
<input message="tns:consultarNota"></input>
<output message="tns:consultarNotaResponse"></output>
</operation>
<operation name="cancelar">
<input message="tns:cancelar"></input>
<output message="tns:cancelarResponse"></output>
</operation>
<operation name="consultarNFSeRps">
<input message="tns:consultarNFSeRps"></input>
<output message="tns:consultarNFSeRpsResponse"></output>
</operation>
</portType>
<binding name="LoteRpsBinding" type="tns:LoteRps">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"></soap:binding>
<operation name="consultarSequencialRps">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://sistemas.semfaz.saoluis.ma.gov.br/WsNFe2/LoteRps.jws"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://sistemas.semfaz.saoluis.ma.gov.br/WsNFe2/LoteRps.jws"></soap:body>
</output>
</operation>
<operation name="enviarSincrono">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://sistemas.semfaz.saoluis.ma.gov.br/WsNFe2/LoteRps.jws"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://sistemas.semfaz.saoluis.ma.gov.br/WsNFe2/LoteRps.jws"></soap:body>
</output>
</operation>
<operation name="testeEnviar">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://sistemas.semfaz.saoluis.ma.gov.br/WsNFe2/LoteRps.jws"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://sistemas.semfaz.saoluis.ma.gov.br/WsNFe2/LoteRps.jws"></soap:body>
</output>
</operation>
<operation name="enviar">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://sistemas.semfaz.saoluis.ma.gov.br/WsNFe2/LoteRps.jws"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://sistemas.semfaz.saoluis.ma.gov.br/WsNFe2/LoteRps.jws"></soap:body>
</output>
</operation>
<operation name="consultarLote">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://sistemas.semfaz.saoluis.ma.gov.br/WsNFe2/LoteRps.jws"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://sistemas.semfaz.saoluis.ma.gov.br/WsNFe2/LoteRps.jws"></soap:body>
</output>
</operation>
<operation name="consultarNota">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://sistemas.semfaz.saoluis.ma.gov.br/WsNFe2/LoteRps.jws"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://sistemas.semfaz.saoluis.ma.gov.br/WsNFe2/LoteRps.jws"></soap:body>
</output>
</operation>
<operation name="cancelar">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://sistemas.semfaz.saoluis.ma.gov.br/WsNFe2/LoteRps.jws"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://sistemas.semfaz.saoluis.ma.gov.br/WsNFe2/LoteRps.jws"></soap:body>
</output>
</operation>
<operation name="consultarNFSeRps">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://sistemas.semfaz.saoluis.ma.gov.br/WsNFe2/LoteRps.jws"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://sistemas.semfaz.saoluis.ma.gov.br/WsNFe2/LoteRps.jws"></soap:body>
</output>
</operation>
</binding>
<service name="LoteRpsService">
<port name="LoteRps" binding="tns:LoteRpsBinding">
<soap:address location="http://sistemas.semfaz.saoluis.ma.gov.br:80/WsNFe2/LoteRps"></soap:address>
</port>
</service>
</definitions>